{% extends "stock/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <!-- Boutons actions -->
    <div class="border rounded border-slate-300 drop-shadow py-6 px-4 mt-4 bg-white my-6 flex gap-2">
        <a
                href="{% url 'stock:addProduct' %}"
                class="hover:text-blue-500 border rounded border-blue-600 hover:bg-white p-2 mt-4 bg-blue-500 text-white duration-150 transition-all"
        >
            Ajouter un produit
        </a>
        <a
                href="{% url 'stock:addCategory' %}"
                class="hover:text-orange-500 border rounded border-orange-600 hover:bg-white p-2 mt-4 bg-orange-500 text-white duration-150 transition-all"
        >
            Ajouter une catégorie
        </a>
        <a
                href="{% url 'stock:addCompany' %}"
                class="hover:text-green-500 border rounded border-green-600 hover:bg-white p-2 mt-4 bg-green-500 text-white duration-150 transition-all"
        >
            Ajouter une société
        </a>
    </div>

    <!-- Tableau de bord -->
    <div class="grid grid-cols-2 gap-4 my-6">
        <div class="border rounded bg-white drop-shadow border-blue-300 py-6 px-4">
            <h2 class="text-xl font-semibold">
                Produits :
            </h2>
            <p class="text-2xl font-bold">
               {{ products.count }}
            </p>
        </div>
        <div class="border rounded bg-white drop-shadow border-orange-300 py-6 px-4">
            <h2 class="text-xl font-semibold">
                Catégories :
            </h2>
            <p class="text-2xl font-bold">
                {{ categories.count }}
            </p>
        </div>
    </div>
    <!-- Company -->
    <div class="border rounded bg-white drop-shadow border-slate-300 py-6 px-4 my-6">
        <h2 class="text-xl font-semibold">
            {{ companies.count }} société{{ companies.count|pluralize }} :</h2>
        <ul class="list-disc ml-4">
            {% for company in companies.list %}
                <li class="text-sm">
                    <a href="{% url 'stock:companies' company.id %}" class="text-blue-500 hover:text-blue-600">
                        {{ company.name }} - {{ company.members.count }} membre{{ company.members.count|pluralize }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}