@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
    @apply container mx-auto py-4 flex flex-col min-h-[60vh];
    h1 {
        @apply text-2xl font-bold text-gray-800 mb-2 ml-1 pb-2;
    }
    .content {
        @apply bg-white shadow-md rounded-lg p-8 flex-1 flex flex-col w-full gap-2 md:gap-4;
    }
}

.btn {
    @apply border rounded-md py-2 px-4 duration-150 transition-all cursor-pointer;
    @apply flex items-center justify-center gap-2;
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2;
    span {
        @apply text-sm block;
    }
    svg {
        @apply block;
    }
}

.btn-tinny {
    @apply border rounded-md p-0.5 duration-150 transition-all cursor-pointer;
    @apply flex items-center justify-center gap-2;
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2;
}

.btn-primary {
    @apply  bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-500;
}

.btn-secondary {
    @apply bg-gray-600 text-white hover:bg-gray-700 focus:ring-gray-500;
}

.btn-danger {
    @apply bg-red-600 text-white hover:bg-red-700 focus:ring-red-500;
}

.btn-danger-2{
    @apply bg-red-100 text-red-600 hover:bg-red-200 border-red-300  focus:ring-red-500;
}

.btn-success {
    @apply bg-green-600 text-white hover:bg-green-700  focus:ring-green-500;
}

.btn-orange {
    @apply bg-orange-600 text-white hover:bg-orange-700  focus:ring-orange-500;
}

.btn-indigo {
    @apply bg-indigo-600 text-white hover:bg-indigo-700  focus:ring-indigo-500;
}

.btn-indigo-outline {
    @apply bg-transparent text-indigo-600 hover:bg-indigo-500 hover:text-white border-indigo-400;
}

.callout {
    @apply p-4 rounded-lg;
}

.success {
    @apply bg-green-100 text-green-700;
}

.error {
    @apply bg-red-100 text-red-700;
}

nav {
    .link {
        @apply text-gray-600 hover:text-indigo-600 transition-colors duration-200;
    }
}

.form-group {
    @apply mb-4;
    label {
        @apply block text-gray-700 text-sm font-medium mb-1;
    }
    .info {
        @apply text-gray-500 text-xs italic mb-1;
    }
    input, textarea, select {
        @apply w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
    }
}

.badge {
    @apply inline-block px-2 py-1 text-xs text-white uppercase rounded-full;
}

.badge-primary {
    @apply bg-blue-600 text-white;
}

.badge-secondary {
    @apply bg-gray-600 text-white;
}

.badge-danger {
    @apply bg-red-600 text-white;
}

.badge-success {
    @apply bg-green-600 text-white;
}

.badge-orange {
    @apply bg-orange-600 text-white;
}

.badge-indigo {
    @apply bg-indigo-600 text-white;
}

.badge-emerald {
    @apply bg-emerald-600 text-white;
}

.link-dash {
    @apply hover:bg-blue-500 hover:text-white transition-all duration-200 p-2;
}

.current_link {
    @apply bg-blue-500 text-white p-2;
}

.separator {
    @apply h-0.5 w-[85%] bg-gray-300 my-2 mx-auto;
}

.alert {
    @apply p-4 rounded drop-shadow;
}
.alert-success {
    @apply bg-green-100 text-green-700;
}

.alert-danger {
    @apply bg-red-100 text-red-700;
}

.progress-bar-3 {
    @apply h-0.5 w-full transition-all duration-200;
    animation: progress-bar-3 6s linear;
}

.progress-bar-primary {
    @apply bg-blue-600;
}

.progress-bar-secondary {
    @apply bg-gray-600;
}

.progress-bar-danger {
    @apply bg-red-600;
}

.progress-bar-success {
    @apply bg-green-600;
}

.progress-bar-orange {
    @apply bg-orange-600;
}

@keyframes progress-bar-3 {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

input, select, textarea {
    @apply px-2 py-1 w-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent rounded;
}

.state-open {
    @apply bg-slate-50 text-slate-700;
}
.state-pending {
    @apply bg-yellow-50 text-yellow-700;
}
.state-blocked {
    @apply bg-red-50 text-red-700;
}
.state-finished {
    @apply bg-green-50 text-green-700;
}