{% extends 'baseDashboard.html' %}

{% block title %}Liste des états{% endblock %}

{% block content %}
    <section class="section">
        <h1>Liste des états</h1>
        <div class="content">
            <div class="grid grid-cols-3 gap-4">
                <a href="{% url 'order:add_state' %}" class="btn btn-indigo-outline">
                    Ajouter un état
                </a>
            </div>
            <div>
            {%  if states %}
                <div class="grid grid-cols-3 gap-4">
                    {% for state in states %}
                        <div class="border relative flex flex-col gap-1 rounded bg-white drop-shadow py-6 px-4 hover:border-blue-300 state-{{ state.group_state|lower }}">
                            <h2 class="text-xl font-semibold">
                                {{ state.name }}
                            </h2>
                            <p class="font-bold text-sm">
                                Groupe : {{ state.group_state }}
                            </p>
                            <span class="separator"></span>
                            <div class="grid grid-cols-3 gap-4">
                                <a href="{% url 'order:state_edit' state.id %}" class="btn btn-indigo-outline">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M9 15v-4.25l9.175-9.175q.3-.3.675-.45t.75-.15q.4 0 .763.15t.662.45L22.425 3q.275.3.425.663T23 4.4t-.137.738t-.438.662L13.25 15zm10.6-9.2l1.425-1.4l-1.4-1.4L18.2 4.4zM5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h8.925L7 9.925V17h7.05L21 10.05V19q0 .825-.587 1.413T19 21z"/></svg>
                                </a>
                                <a href="{% url 'order:state_delete' state.id %}" class="btn btn-danger-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path fill="currentColor" d="M0 0h24v24H0z" fill-opacity=".04"/></svg>
                                </a>
                            </div>
                            <span class="absolute bottom-0 right-1 text-xs text-gray-500">
                                {{ state.updated_at|date:"d/m/Y H:i" }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="callout">
                    Aucun état n'a été trouvé. Veuillez en ajouter un.
                </div>
            {% endif %}
        </div>
        </div>
    </section>
{% endblock %}