{% extends "baseDashboard.html" %}
{% load static %}

{% block title %}
    {{ block.super }} - Products
{% endblock %}

{% block content %}
    <div class="section">
            <h1>
                <span class="text-blue-800">{{ count }}</span> | Liste des Produits
            </h1>
   <div class="content">
    <div class="mt-2 mb-6 grid grid-cols-3">
        <a href="{% url 'catalog:product_add' %}" class="btn btn-indigo-outline">
            Ajouter un produit
        </a>
    </div>
   <div>
       <form method="GET" class="flex gap-1 items-center justify-around m-0 p-0" id="filter-form">
            <div class="form-group col-span-2">
                <label for="category">Catégorie</label>
                <select name="category" id="category" class="border border-gray-300 rounded-lg p-2 focus:border-indigo-500 focus:ring-indigo-500">
                   <option value="">Toutes les catégories</option>
                   {% for category in categories %}
                       <option value="{{ category.id }}" {% if category.id|stringformat:"s" == category_filtered %}selected{% endif %}>{{ category.name }}</option>
                   {% endfor %}
               </select>
            </div>
            <div class="form-group flex-1 col-span-2">
                <label for="search">Rechercher</label>
                <input type="text" id="search" name="search" value="{% if search %}{{ search }}{% endif %}" placeholder="Rechercher" class="border border-gray-300 rounded-lg p-2 focus:border-indigo-500 focus:ring-indigo-500">
            </div>
           <input type="hidden" id="page" name="page" value="{{ page }}">
            <input type="hidden" id="max_page" name="max_page" value="{{ max_page }}">
           <button type="submit" class="btn btn-primary">
               <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
           </button>
       </form>
   </div>
        {% if products %}
        <div class="grid grid-cols-3 gap-6">
            {% for product in products %}
                <div class="bg-slate-50 rounded-lg overflow-hidden transition-shadow duration-300 relative border border-gray-200 hover:outline hover:outline-blue-500">
                    <div class="p-4 space-y-2">
                        <h2 class="text-xl font-semibold text-gray-800 mb-2">
                            {{ product.name }}
                        </h2>
                        <p class="text-gray-600 mb-4">{{ product.description }}</p>
                        <p class="text-sm text-slate-400">Réf : {{ product.sku }}</p>
                        <p class="text-sm font-bold">Prix: {{ product.prices.first.price }} €</p>
                        {% if product.category %}
                            <div>
                                <p class="text-xs font-bold">Catégories:</p>
                                <p class="text-xs text-blue-500">{{ product.category.all|join:", " }}</p>
                            </div>
                        {% endif %}
                        <div class="separator"></div>
                            <div class="grid grid-cols-3 gap-2 mx-2 my-1">
                                <form method="POST" action="{% url 'catalog:product_delete' product.id %}" class="btn btn-danger-2 m-0">
                                    {% csrf_token %}
                                    <button type="submit" class="text-red-600 hover:text-red-800 font-medium flex items-center bg-transparent border-0 p-0 cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M9 17h2V8H9zm4 0h2V8h-2zm-8 4V6H4V4h5V3h6v1h5v2h-1v15z"/></svg>
                                    </button>
                                </form>
                                <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-primary m-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE --><path fill="currentColor" d="M19 19H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2v-7h-2zM14 3v2h3.59l-9.83 9.83l1.41 1.41L19 6.41V10h2V3z"/></svg>
                                </a>
                                <a href="{% url 'catalog:product_edit' product.id %}" class="btn btn-indigo m-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                                    </svg>
                                </a>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        <div class="flex gap-2 justify-around border-t border-gray-200 mt-8 pt-3 pb-6">
            <a class='text-blue-600 hover:text-blue-800 font-medium flex items-center' id="link-page-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE --><path fill="currentColor" d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/></svg>
                Précédent
            </a>
            <p class="text-center">{{ page }} sur {{ max_page }}</p>
            <a class='text-blue-600 hover:text-blue-800 font-medium flex items-center' id="link-page-next">
                Suivant
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE --><path fill="currentColor" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
            </a>
        </div>

    {% else %}
        <div class="bg-yellow-50 border-l-4 border-yellow-400 p-4 rounded-md">
            <div class="flex">
                <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="ml-3">
                    <p class="text-sm text-yellow-700">
                        Aucun produit trouvé. Veuillez en ajouter. ou changer de filtre.
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
    </div>

{%  endblock %}

{% block scripts %}
<script src="{% static 'catalog/js/filter-product.js' %}"></script>
{% endblock %}