{% extends "stock/base.html" %}

{% block title %} Ajouter un produit {% endblock %}

{% block content %}
    <section class="w-full max-w-md mx-auto">
        <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Ajouter un produit</h1>
        <form method="post" class="bg-white shadow-md rounded-lg p-8 space-y-6">
            {% csrf_token %}
            <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900">
                    Nom <span class="text-red-500">*</span>
                </label>
                <input required type="text" id="name" name="name" placeholder="Nom" class="w-full border border-gray-300 rounded-lg p-2 focus:border-indigo-500 focus:ring-indigo-500">
            </div>
            <div>
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900">
                    Description <span class="text-red-500">*</span>
                </label>
                <textarea required id="description" name="description" placeholder="Description" class="w-full border border-gray-300 rounded-lg p-2 focus:border-indigo-500 focus:ring-indigo-500"></textarea>
            </div>
            <div>
                <label for="price" class="block mb-2 text-sm font-medium text-gray-900">
                    Prix <span class="text-red-500">*</span>
                </label>
                <input required type="number" id="price" name="price" placeholder="Prix" class="w-full border border-gray-300 rounded-lg p-2 focus:border-indigo-500 focus:ring-indigo-500">
            </div>
            <div>
                <label for="sku">
                    Référence <span class="text-red-500">*</span>
                </label>
                <input required type="text" id="sku" name="sku" placeholder="Référence" class="w-full border border-gray-300 rounded-lg p-2 focus:border-indigo-500 focus:ring-indigo-500">
            </div>
            <div>
                <label for="category">
                    Catégories <span class="text-red-500">*</span>
                </label>
                <select id="category" multiple name="category" class="w-full border border-gray-300 rounded-lg p-2 focus:border-indigo-500 focus:ring-indigo-500" required>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="flex items-center justify-center gap-2 w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-colors">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16"><!-- Icon from Gitlab SVGs by GitLab B.V. - https://gitlab.com/gitlab-org/gitlab-svgs/-/blob/main/LICENSE --><path fill="currentColor" fill-rule="evenodd" d="M4 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm4 9a.75.75 0 0 1-.75-.75v-1.5h-1.5a.75.75 0 0 1 0-1.5h1.5v-1.5a.75.75 0 0 1 1.5 0v1.5h1.5a.75.75 0 0 1 0 1.5h-1.5v1.5A.75.75 0 0 1 8 11" clip-rule="evenodd"/></svg>
                Ajouter
            </button>
        </form>
    </section>
{% endblock %}