{% extends "baseDashboard.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <section class="section">
        <div class="content">
            <!-- Boutons actions -->
        <div class="border rounded border-slate-300 drop-shadow py-6 px-4 mt-4 bg-white flex gap-2">
            <a href="{% url 'catalog:product_add' %}" class="btn btn-primary" >
                Ajouter un produit
            </a>
            <a href="{% url 'catalog:category_add' %}" class="btn btn-orange" >
                Ajouter une catégorie
            </a>
            <a href="{% url 'order:company_add' %}" class="btn btn-success" >
                Ajouter une société
            </a>
        </div>

        <!-- Tableau de bord -->
        <div class="grid grid-cols-3 gap-4">
            <div class="border rounded bg-white drop-shadow py-6 px-4 hover:border-blue-300">
                <h2 class="text-xl font-semibold">
                    <a href="{% url 'catalog:product_list' %}" class="hover:underline hover:text-blue-500">Produit{{ products.count|pluralize }} :</a>
                </h2>
                <p class="text-3xl font-bold">
                   {{ products.count }}
                </p>
            </div>
            <div class="border rounded bg-white drop-shadow py-6 px-4 hover:border-orange-300">
                <h2 class="text-xl font-semibold">
                    <a href="{% url 'catalog:category_list' %}" class="hover:underline hover:text-orange-500">Catégorie{{ categories.count|pluralize }} :</a>
                </h2>
                <p class="text-3xl font-bold">
                    {{ categories.count }}
                </p>
            </div>
            <div class="border rounded bg-white drop-shadow py-6 px-4 hover:border-slate-300">
                <h2 class="text-xl font-semibold">
                    <a href="{% url 'order:company_list' %}" class=" hover:underline hover:text-slate-500">Société{{ companies.count|pluralize }} :</a>
                </h2>
                <p class="text-3xl font-bold">
                    {{ companies.count }}
                </p>
            </div>
        </div>


        <div class="separator"></div>

        <!-- Chart by category -->
            <div class="grid grid-cols-2 gap-4">
                <h2 class="font-semibold">Répartition des produits par catégorie :</h2>
                <h2 class="font-semibold">Autre graphique :</h2>
                <div style="max-height: 450px;" class="relative">
                    <canvas id="categoryChart" width="15" height="150"></canvas>
                </div>
                <div class="w-[100%] h-[300px] text-center text-xl border rounded-lg">
                </div>
            </div>
        </div>
    </section>


    <div id="categoryData" data-categories="[
                   {% for category in categories_json %}
                       {
                           &quot;id&quot;: &quot;{{ category.id }}&quot;,
                           &quot;name&quot;: &quot;{{ category.name }}&quot;,
                           &quot;quantity&quot;: &quot;{{ category.quantity }}&quot;
                       }{% if not forloop.last %},{% endif %}
                   {% endfor %}
               ]"
    ></div>
{% endblock %}

    {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{% static 'stock/js/chart-category.js' %}"></script>
    {% endblock %}