{% extends 'baseDashboard.html' %}

{% block title %}Flux de stock{% endblock %}

{% block content %}
    <section class="section">
        <h1>Flux de  {{ request.current_company.name }} :</h1>

        <div class="content">
            <div class="grid grid-cols-3 gap-4 my-2">
                <a href="{% url 'order:add_order' %}" class="btn btn-indigo-outline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                    Ajouter un mouvement
                </a>
            </div>
            <div class="space-y-4">
                <h2 class="text-xl font-semibold">Commandes entrantes :</h2>
                <div class="grid grid-cols-3 gap-4">
                    {% if command_in.count > 0 %}
                        {% for order in command_in.list %}
                            <div class="card card-compact">
                                <div class="card-body">
                                    <h3 class="card-title">{{ order.reference }}</h3>
                                    <span class="absolute top-1 right-1 badge state-{{ order.state.group_state|lower }}">{{ order.state.name }}</span>
                                    <p class="flex items-center justify-around text-sm border rounded px-2 py-1 my-1">
                                        <span>
                                            {% if order.from_company  %}
                                                <span class="{% if order.from_company == request.current_company %}badge badge-success{% endif %}">
                                                    {{ order.from_company.name }}
                                                </span>
                                            {% else %}
                                                <span>Non renseigné</span>
                                            {% endif %}
                                        </span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-blue-600" width="15" height="15" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M8 19V5l11 7z"/></svg>
                                        <span>
                                            {% if order.to_company  %}
                                                <span class="{% if order.to_company == request.current_company %}badge badge-success{% endif %}">
                                                    {{ order.to_company.name }}
                                                </span>
                                            {% else %}
                                                <span>Non renseigné</span>
                                            {% endif %}
                                        </span>
                                    </p>
                                    <a href="{% url 'order:order_detail' order.id %}" class="btn btn-primary">
                                        Détail
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="callout callout-warning">
                            Aucune commande entrante.
                        </div>
                    {% endif %}
                </div>
            </div>
        <div>
            <h2 class="text-xl font-semibold">Commandes sortantes :</h2>
            <div class="grid grid-cols-3 gap-4">
                {% if command_out.count > 0 %}
                    {% for order in command_out.list %}
                        <div class="card card-compact">
                                <div class="card-body">
                                    <h3 class="card-title">{{ order.reference }}</h3>
                                    <span class="absolute top-1 right-1 badge state-{{ order.state.group_state|lower }}">{{ order.state.name }}</span>
                                    <p class="flex items-center justify-around text-sm border rounded px-2 py-1 my-1">
                                        <span>
                                            {% if order.from_company  %}
                                                <span class="{% if order.from_company == request.current_company %}badge badge-success{% endif %}">
                                                    {{ order.from_company.name }}
                                                </span>
                                            {% else %}
                                                <span>Non renseigné</span>
                                            {% endif %}
                                        </span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-blue-600" width="15" height="15" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M8 19V5l11 7z"/></svg>
                                        <span>
                                            {% if order.to_company  %}
                                                <span class="{% if order.to_company == request.current_company %}badge badge-success{% endif %}">
                                                    {{ order.to_company.name }}
                                                </span>
                                            {% else %}
                                                <span>Non renseigné</span>
                                            {% endif %}
                                        </span>
                                    </p>
                                    <a href="{% url 'order:order_detail' order.id %}" class="btn btn-primary">
                                        Détail
                                    </a>
                                </div>
                            </div>
                    {% endfor %}
                {% else %}
                    <div class="callout callout-warning">
                        Aucune commande sortante.
                    </div>
                {% endif %}
            </div>
        </div>

        </div>
    </section>

{% endblock %}