{% extends 'baseDashboard.html' %}
{% load static %}

{% block title %}Gestion de Stock - Liste des sociétés{% endblock %}

{% block content %}
    <section class="section">
        <h1><span class="text-blue-600">{{ nombre_company }}</span> | Liste des sociétés</h1>
        <div class="content">
            {% if company %}
                <div class="grid grid-cols-3 gap-0.5">
                    <a href="{% url 'order:company_add' %}" class="btn btn-indigo-outline col-span-1">Ajouter une société</a>
                    <div class="col-span-2"></div>
                    {% for comp in company %}
                        <div class="col-span-3 border-b border-slate-300 py-4 px-6 hover:bg-slate-50">
                            <div class="flex items-center gap-2">
                                <div class="flex-1 grid grid-cols-5 gap-2">
                                    <span class="font-semibold">{{ comp.name }}</span>
                                    <span class="text-sm text-slate-500">{{ comp.email }}</span>
                                    <span class="text-sm text-slate-500">{% if comp.is_store %}Boutique{% endif %} {% if comp.is_warehouse %}Entrepôt{% endif %}</span>
                                </div>
                                <div class="flex items-center gap-2">
                                    <a class="btn-tinny btn-primary" href="{% url 'order:company_edit' comp.id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h8.925l-2 2H5v14h14v-6.95l2-2V19q0 .825-.587 1.413T19 21zm4-6v-4.25l9.175-9.175q.3-.3.675-.45t.75-.15q.4 0 .763.15t.662.45L22.425 3q.275.3.425.663T23 4.4t-.137.738t-.438.662L13.25 15zM21.025 4.4l-1.4-1.4zM11 13h1.4l5.8-5.8l-.7-.7l-.725-.7L11 11.575zm6.5-6.5l-.725-.7zl.7.7z"/></svg>                                    </a>
                                    <a class="btn-tinny btn-secondary" href="{% url 'order:company_detail' comp.id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M3 21V3h9v2H5v14h14v-7h2v9zm6.7-5.3l-1.4-1.4L17.6 5H14V3h7v7h-2V6.4z"/></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="grid grid-cols-3 gap-4">
                    <a href="{% url 'order:company_add' %}" class="btn btn-primary col-span-1">Ajouter une société</a>
                    <div class="col-span-2"></div>
                    <div class="callout error col-span-3">
                        <span>Vous n'avez pas encore ajouté de société.</span>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}